body{
    background-color: rgb(147, 170, 194);
    color: white;
    font-family: lato;
}

body>h1{
    text-align: center;
    padding: 1em;
}

.card{
    width: 70%;
    border-radius: .7em;
    margin: 0 auto;
    margin-bottom: 1em;
    color: rgb(41, 40, 40);
    
}

.card>img{
    width: 10em;
    height: 10em;
    margin-bottom: 1em;
    margin: 0 auto;
}

.card>h3{
    text-align: center;
}

#ciudad{
    border-radius: 0.3em;
}

.selector{
    margin-bottom: 1em;
}

.selector>select{
    width: 100%;
}

.btn{
    border-radius: .3em;
}